<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
        <title>Learn AngularJS</title>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="learnAngular" ng-init="hello ='Hello World! Hello Angular!'">
        <div ng-controller="learningController as learnNg">
            
            <input type="text" ng-model="model">
            
            <div class="repeater" ng-repeat="item in list | filter: model">
                {{ item.name }}
            </div>
            
            <direc-one name="{{ name }}"></direc-one>
            
            <div style="padding: 20px; border: 5px solid black" my-click="myclick()">
                my-click!! {{ name }}
            </div>
            
            <div> {{ name }} </div>
            
        </div>
    </body>
</html>