<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
        <title>Learn AngularJS</title>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="learnAngular" ng-init="hello ='Hello World! Hello Angular!'">
        <div ng-controller="learningController as learnNg">
            
            <input type="text" ng-model="model">
            
            <div class="repeater" ng-repeat="item in list | filter: model">
                {{ item.name }}
            </div>
            
            <direc-one name="{{ name }}"></direc-one>
            
            <div style="padding: 20px; border: 5px solid black" my-click="myclick()">
                my-click!! {{ name }}
            </div>
            
            <div> {{ name }} </div>
            
            <hr>
            
            <!--<function-directive my-function="myFunctionExample()"></function-directive>-->
            
            <div function-directive my-function="myFunctionExample()"></div>
           
            <div function-directive my-function="cappuScope('Map')"></div>

            <direc-contr-exam></direc-contr-exam>

            <hr>

            <my-click-directive></my-click-directive>
            
        </div>
    </body>
</html>


<!--https://www.toptal.com/angular-js/angular-js-demystifying-directives-->

<!--https://www.toptal.com/angular-js/top-18-most-common-angularjs-developer-mistakes-->